
input.correct {
        border: 1px solid $success-color;
    }

input.incorrect {
        border: 1px solid $alert-color;
    }


span.correct {
        color: $success-color;
    }

span.incorrect {
        color: $alert-color;
    }
